@charset "UTF-8";

@font-face {
    font-family: font02;
    src: url(../fonte/PassionOne-Bold.ttf);
}
@font-face {
    font-family: font3;
    src: url(../fonte/Sriracha-Regular.ttf);
}

/*CONFIGURAÇOES GERAIS*/
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    html, body{
        min-height: 100vh;
        background-color: darkgray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

/*CONFIGURAÇOES CABEÇALHO -Header e links*/    
	header{
		background-color: black;
        color: white;
        text-align: center;
        padding: 50px;
    }	
    header h1{
       padding-top: 30px;
       font-variant: var(--font02);
       font-size: 8vw; 
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    a:hover{
        text-decoration: underline;
    }
/*CONFIGURAÇÂO DOS CONTEUDOS PRINCIPAIS-meio*/
    section{
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;  /*Espaçamentos entre linhas de um texto*/
        padding-left: 30px;
        font-family: 'font3';
        font-size: 3.5vw;
    }
    section#normal{
        background-color: white;
    }
    section.imagem{
        background-color: dimgray;
        color: white;

    }
    section.imagem p{
        display: inline-block;
        background-color: rgb(0, 0, 0, 0.253);  
        font-family: 'font02';  
    }

/*CONFIGURAÇOES RODAPE - footer*/
    footer{
        background-color: black;
        padding: 10px;
        text-align: center;
        color: white;
    }