@charset "UTF-8";

@font-face {
    font-family: font02;
    src: url(../fonte/PassionOne-Bold.ttf);
}
@font-face {
    font-family: font3;
    src: url(../fonte/Sriracha-Regular.ttf);
}

/*CONFIGURAÇOES GERAIS*/
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    html, body{
        min-height: 100vh;
        background-color: darkgray;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

/*CONFIGURAÇOES CABEÇALHO -Header e links*/    
	header{
		background-color: black;
        color: white;
        text-align: center;
        padding: 50px;
    }	
    header h1{
       padding-top: 30px;
       font-variant: var(--font02);
       font-size: 8vw; 
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    a:hover{
        text-decoration: underline;
    }
/*CONFIGURAÇÂO DOS CONTEUDOS PRINCIPAIS-meio*/
    section{
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;  /*Espaçamentos entre linhas de um texto*/
        padding-left: 30px;
        font-family: 'font3';
        font-size: 3.5vw;
    }
    section p{
        padding-bottom: 2em;
    }
    section#normal{
        background-color: white;
    }
    section.imagem{
        background-color: dimgray;
        color: white;
        box-shadow: inset 6px 6px 0px rgba(0, 0, 0, 0.76);
        background-size: cover;
        background-attachment: fixed;

    }
    section.imagem p{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.541);  
        font-family: 'font02'; 
        text-shadow: 1px 1px 0px black; 
    }

    section#img01{
        background-image: url(../imagem_cordel/background001.jpg);
        background-position: right center;
       
    }
    section#img02{
        background-image: url(../imagem_cordel/background002.jpg);
      
    }

/*CONFIGURAÇOES RODAPE - footer*/
    footer{
        background-color: black;
        padding: 10px;
        text-align: center;
        color: white;
    }