@charset "UTF-8";

/*CONFIGURAÇOES GERAIS*/
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    html, body{
        min-height: 100vh;
        background-color: darkgray;
    }

/*CONFIGURAÇOES CABEÇALHO -Header e links*/    
	header{
		background-color: black;
        color: white;
        text-align: center;
        padding: 50px;
    }	
    header h1{
       font-variant: small-caps; 
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    a:hover{
        text-decoration: underline;
    }
/*CONFIGURAÇÂO DOS CONTEUDOS PRINCIPAIS-meio*/
    section{
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;  /*Espaçamentos entre linhas de um texto*/
        padding-left: 30px;
    }
    section#normal{
        background-color: white;
    }
    section.imagem{
        background-color: dimgray;
        color: white;

    }
    section.imagem p{
        width: 400px;
        background-color: rgb(0, 0, 0, 0.253);    
    }

/*CONFIGURAÇOES RODAPE - footer*/
    footer{
        background-color: black;
        padding: 10px;
        text-align: center;
        color: white;
    }